# ==========================
# Python
# ==========================
backend/.venv/
backend/**/__pycache__/
*.py[cod]

# ==========================
# Node
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# Database
# ==========================
*.db
*.sqlite3

# ==========================
# Environment Variables
# ==========================
.env
*.env

# ==========================
# Zip Files
# ==========================
*.zip

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db